.app-main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-primary);
  color: var(--text-main);
  transition: background-color 0.4s ease, color 0.4s ease;
}

.app-content {
  flex: 1;
}
